<ul class="events">
  <% for(var i=0; i<events.length; i++) {%>
    <li class="events">
      <span class="testing"><%= events[i].title %></span>
      <span class="testing"><%= events[i].date %></span>
      <span class="testing"><%= events[i].time %></span>
      <span class="testing"><%= events[i].price %></span>
      <span class="testing"><%= events[i].capacity %></span>
      <button id="update">Edit</button>
      <button id="delete">X</button>
    </li>
  <% } %>
</ul>